*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    font-family: 'open sans';
    line-height: 1.6em;
    margin: 0;
}


.contenedor {
    padding: 60px 0;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    padding: auto;
}

.links{
    font-size: 30px;
    color: rgba(0, 0, 0, 0);
}

/* Header */

.header {
    width: 100%;
    height: 600px;
    background: #7e4ebc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(278, 95%, 50%, 0.459), hsla(261, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(278, 95%, 50%, 0.459), hsla(261, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
}

.nav{
    display: flex;
    text-align: center;
    background: #414141;
    font-size:15px;
    padding: 1.2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    flex-wrap: wrap;
}

.nav a{
    display: flex;
    color: #ffffff;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    flex-wrap: wrap;


}

.logo{
    text-align: center;
    letter-spacing: 20px;
    font-size: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
    line-height: 1.7em;
}

.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display:block;
    padding: 0.5rem 1rem ;
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
  background: #8f4fe2ac;
}

header .textos-header{
    padding-top: 3rem;
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 65px;
    color:#fff;
    padding: 2rem 1rem;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Sobre nosotros */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 45%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h2{
padding: 1rem 1rem;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* Problemática */

.problematica p{
    margin-bottom: 1.2em;
    text-align: justify;
    
}

.problematica-container{
    padding-left: 9rem;
    width:90%;
    max-width: 1500px;
}


/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
    text-align: center;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Tarjetas */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 500;
    padding-top: 5px;
}

/*  Proyecto */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

.contenedorFODA {
    padding: 10px 40px 10px 40px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/* footer */

footer{
    background: #414141;
    padding: 10px 0 5px 0;
    margin: auto;
    overflow: hidden;
}

.titlefoo{
    margin-top: 1rem;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    

}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
   
}


.content-foo{
    text-align: center;
}


.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}



@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:1176px){

   .menu-icon{
       display: none;
       cursor: pointer;
   }
    
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul{
        display: none;
    }
    
    .navigation ul.show {
        display: block;
    }


    .navigation ul li{
        display:block;
    }
    
    .navigation ul li a{
        display:block;
        padding: 0.5rem 0;
        font-weight: 300;
        text-decoration: none;
        margin-right: 20px;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    
    .navigation ul li a:hover{
      background: #8f4fe2ac;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 65%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /*Problemática*/
    .problematica-container{
        padding-left: 4rem;
        width:90%;
        max-width: 1500px;
    }


    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}